@import "~@fontsource/encode-sans/index.css";
@import "~@fontsource/encode-sans/600.css";
@import "~@fontsource/encode-sans/700.css";

html {
    font-family: 'Encode Sans', sans;
    line-height: 1.7;
    margin: 0;
}

body {
    margin: 0;
}